<div class='hide_on_login'>
  <div id="playoff_rules">
    <ul><span id="playoff_header">Regular Season</span>
      <li>Bets are open at $1.00 and $4.00</li>
      <li>You must make exactly two $4.00 bets per week</li>
      <li>Betting is open per game until it starts</li>
      <li>Stat junkie? Homeboy ALWAYS bets for the home team. try to beat him!</li>
    </ul>
    <!--<br/>-->
    <!--<ul><span id="playoff_header">Playoff Rules</span>-->
      <!--<li>Bets are open from $1.00 - $4.00, in $1.00 increments</li>-->
      <!--<li>No max or min number of $4.00 bets</li>-->
      <!--<li>Penalty for no bet is $4.00 per game, so get your bets in fellas</li>-->
    <!--</ul>-->
    <!--<br/>-->
    <!--<ul><span id="playoff_header">Superbowl</span>-->
      <!--<li>Mandatory $12.00 bet with option to add any amount of positive winnings (in $1.00 increments)</li>-->
    <!--</ul>-->
  </div>

  <div id="standings_head">Overall Standings</div>
  <div class="standings">
    <table class="standings_table">
      <tr class="standings_header">
        <td class="name"></td>
        <td class="cash_head">$</td>
        <td class="percent">W/L %</td>
        <td class="wins">W</td>
        <td class="losses">L</td>
      </tr>


      <% users = {}
         User.where(active: true).each do |u|
           users[u] = u.get_results
         end
         users = users.sort_by { |k, v| v[0][0] }.reverse
         users.each do |u, results|
           cash, wins, loss = results[0].first, results[1].first, results[2].first
      %>
        <tr class="users">
          <td class="name"><%= (u.name) ? u.name : u.email %></td>
          <% style = cash >= 0 ? "cash_plus" : "cash_minus" %>
          <td class="<%= style %>"><%= sprintf "%.02f", cash %></td>
          <% wl = (number_with_precision((wins.to_f / (wins.to_f + loss.to_f)), :precision => 3)).gsub('0.', '.') %>
          <td class="percent"><%= wins.to_f + loss.to_f == 0 ? "" : wl %></td>
          <td class="wins"><%= wins %></td>
          <td class="losses"><%= loss %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div id="by_the_week">By the Week</div>
  <div>
    <% week_count = Game.current_week
       while week_count > 0
         week_count -= 1 if week_count == 21
    %>
      <div class="standings">
        <table class="standings_table">
          <tr id="week_count">
            <td>Week <%= week_count %></td>
            <td></td>
            <td></td>
            <% if week_count == Game.current_week %>
              <td colspan="2"><span class='tiny'>* = incomplete bets</span></td>
            <% end %>
          </tr>
          <tr class="standings_header">
            <td class="name"></td>
            <td class="cash_head">$</td>
            <td class="percent">W/L %</td>
            <td class="wins">W</td>
            <td class="losses">L</td>
          </tr>

          <%
            users = users.sort_by { |k, v| v[0][week_count] }.reverse
            users.each do |u, results|
              cash, wins, loss = results[0][week_count], results[1][week_count], results[2][week_count]
          %>
            <tr class="users">
              <td class="name">
                <%= link_to_modal (u.name) ? u.name : u.email, "user_bets?user_id=#{u.id}&week=#{week_count}", remote: true %>
                <% if week_count == Game.current_week and Game.where(final: nil, week: Game.current_week).where('start_date > ?', Game.last_season_end).count - u.bets.joins(:game).where(games: {week: Game.current_week, final: nil}).where('start_date > ?', Game.last_season_end).count > 0 %>
                  <a title='User has bets to make this week.  Go bug them.'>*</a>
                <% end %>
              </td>
              <% style = cash >= 0 ? "cash_plus" : "cash_minus" %>
              <td class="<%= style %>"><%= sprintf "%.02f", cash %></td>
              <% wl = (number_with_precision((wins.to_f / (wins.to_f + loss.to_f)), :precision => 3)).gsub('0.', '.') %>
              <td class="percent"><%= wins.to_f + loss.to_f == 0 ? "" : wl %></td>
              <td class="wins"><%= wins %></td>
              <td class="losses"><%= loss %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <% week_count -= 1 %>
    <% end %>
  </div>
</div>