<% user = current_user %>
<% image_url = user.avatar ? user.avatar_url.to_s : User.find_by_email('nfluser@admin.com').avatar_url.to_s %>
<div id="badge"><%= image_tag image_url %> <span class="top"><%= user.name %></span></div>

<div class='hide_on_login'>
  <div id="standings_head">Overall Standings</div>
  <div class="standings">
    <table class="standings_table">
      <tr class="standings_header">
        <td class="name"></td>
        <td class="cash_head">$</td>
        <td class="percent">W/L %</td>
        <td class="wins">W</td>
        <td class="losses">L</td>
      </tr>

      <% User.all.sort_by{ |u| u.get_results.first }.reverse_each do |u|
        cash, wins, loss = u.get_results
      %>
          <tr class="users">
            <td class="name"><%= (u.name) ? u.name : u.email %></td>
            <td class="cash"><%= sprintf "%.02f", cash %></td>
            <% wl = (number_with_precision((wins.to_f / (wins.to_f + loss.to_f)), :precision => 3)).gsub('0.', '.') %>
            <td class="percent"><%= wins.to_f + loss.to_f == 0 ? "" : wl %></td>
            <td class="wins"><%= wins %></td>
            <td class="losses"><%= loss %></td>
          </tr>
      <% end %>
    </table>
  </div>

  <div id="by_the_week">By the Week</div>
  <div>
    <% week_count = Game.current_week
       while week_count > 0
    %>

        <div class="standings">
          <table class="standings_table">
            <th id="week_count">Week <%= week_count %></th>
            <tr class="standings_header">
              <td class="name"></td>
              <td class="cash_head">$</td>
              <td class="percent">W/L %</td>
              <td class="wins">W</td>
              <td class="losses">L</td>
            </tr>

            <% User.all.sort_by{ |u| u.get_results(week_count).first }.reverse_each do |u|
              cash, wins, loss = u.get_results(week_count) %>
                <tr class="users">
                  <td class="name"><%= (u.name) ? u.name : u.email %></td>
                  <td class="cash"><%= sprintf "%.02f", cash %></td>
                  <% wl = (number_with_precision((wins.to_f / (wins.to_f + loss.to_f)), :precision => 3)).gsub('0.', '.') %>
                  <td class="percent"><%= wins.to_f + loss.to_f == 0 ? "" : wl %></td>
                  <td class="wins"><%= wins %></td>
                  <td class="losses"><%= loss %></td>
                </tr>
            <% end %>
          </table>
        </div>
        <% week_count -= 1 %>
    <% end %>
  </div>
</div>