<br/>
<div class="row">
  <div class="small-4"><h2>Sign Up</h2></div>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true}) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="small-12 medium-6 large-4"><%= f.email_field :email, :autofocus => true, placeholder: 'Email' %></div>
    </div>

  <% us = TZInfo::Country.get('US') %>
  <% timezones = us.zone_identifiers %>
  <div class="row">
    <div class="small-12 medium-6 large-4">
      <%= f.label 'Timezone' %>
      <%= f.select :timezone,timezones, prompt: 'Select your timezone', options_for_select: {:required => true} %>

    </div>
  </div>

    <div class="row">
      <div class="small-12 medium-6 large-4"><%= f.text_field :name, placeholder: 'Display name' %></div>
    </div>
    <div class="row">
      <%= f.label :avatar %>
      <div class="small-12 medium-6 large-4"><%= f.file_field :avatar %></div>
    </div>
    <br/>
    <div class="row">
      <div class="small-12 medium-6 large-4"><%= f.password_field :password, placeholder: 'Password' %></div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 large-4"><%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %></div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 large-4"><%= f.submit "Sign up", class: 'button small-12' %></div>
    </div>
<% end %>

<br />
<div class="row">
  <div class="small-12">
    <%= render "devise/shared/links" %>
  </div>
</div>








