<br/>
<div class="row">
  <div class="small-12"><h3>Change your password</h3></div>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put}) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <div class="row">
      <div class="small-12 medium-6 large-4">
        <%= f.password_field :password, :autofocus => true, placeholder: 'New password' %>
      </div>
    </div>

    <div class="row">
      <div class="small-12 medium-6 large-4">
        <%= f.password_field :password_confirmation, :autofocus => true, placeholder: 'Confirm new password' %>
      </div>
    </div>

    <div class="row">
      <div class="small-12">
        <%= f.submit "Change my password", class: 'button small-12 medium-6 large-4' %>
      </div>
    </div>
<% end %>
<div class="row">
  <div class="small-12">
    <%= render "devise/shared/links" %>
  </div>
</div>
