<br/>
<div class="row">
  <div class="small-12"><h3>Forgot your password?</h3></div>
</div>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="small-12 medium-6 large-4">
        <%= f.email_field :email, :autofocus => true %>
      </div>
    </div>
    <div class="row">
      <div class="small-12">
        <%= f.submit "Send me reset password instructions", class: 'button small-12 medium-6 large-4' %>
      </div>
    </div>
<% end %>

<br/>
<div class="row">
  <div class="small-12">
    <%= render "devise/shared/links" %>
  </div>
</div>
