<% week = Game.where('start_date > ?', Game.last_season_end).pluck(:week).sort.uniq.last %>
<div id="week_menu"><span class="bold">Week:</span>
<% while week > 0
     if week == 21
       week -= 1
       next
     end
     this_week = @games.first.nil? ?  21 : @games.first.week
     case week
       when 22
         label = 'Superbowl'
       when 20
         label = 'Conf Championship'
       when 19
         label = 'Divisional'
       when 18
         label = 'Wild Card'
       else
         label = week
     end

     week_class = (this_week == week) ? 'class=selected_link' : ''%>
    <a <%= week_class %> href="?week=<%= week %>"><%= label %></a>
<% week -= 1 %>|
<% end %>
</div>

<% @playoff = (week > 17 and week < 21) ? true : false %>
<% @superbowl = week == 22 ? true : false %>
<% if @playoff or @superbowl %>
    <%= render "playoffs" %>
<% else %>
<!--VALIDATE ALL BETS -->
<%= form_tag('/place_bets', remote: true) do %>
    <div id="games_header">
      <span id="final">FINAL</span>
      <span id="spread_header">SPREAD</span>
      <span id="bet_header">BET</span>
    </div>

    <% @games.each do |game| %>
        <% closed = game.start_date < Time.now - 2.hours %>
        <% bet = game.get_bet(current_user.id) %>

        <div id="game_time"><%= (game.start_date + 2.hours).strftime("%B %d, %Y, %I:%M%p") %> (MT)
        </div>
        <table class="game">
          <tr>
          </tr>
          <tr>
            <td class="team_icons"><%= image_tag "icons/#{game.away_team.mascot.downcase}.jpg", alt: "#{game.away_team.id}" %></td>
            <td class="team_name"><%= "#{game.away_team.location} #{game.away_team.mascot}" %></td>
            <td class="score"><%= game.away_score %></td>
            <td class="spread"></td>


            <!-- If no bet or user didn't pick away team, checked is false -->
            <% checked = bet.nil? || bet.pick_team != game.away_team ? false : true %>
            <td class="winner">
              <% if closed %>
                  <%= radio_button_tag("games[#{game.id}][winner]", "#{game.away_team.id}", checked = checked, disabled: closed) %>
                  <%= hidden_field_tag "games[#{game.id}][winner]", "#{game.away_team.id}" if checked %>
                  <%= hidden_field_tag "games[#{game.id}][closed]", true %>
              <% else %>
                  <%= radio_button_tag("games[#{game.id}][winner]", "#{game.away_team.id}", checked = checked, disabled: closed) %>
              <% end %>
            </td>


            <td class="bet">
              <% if closed %>
                  <%= select_tag("games[#{game.id}][bet]", options_for_select([['$1.00', 1], ['$4.00', 4]], bet.nil? ? 1 : bet.amount), disabled: closed) %>
                  <%= hidden_field_tag "games[#{game.id}][bet]", bet.nil? ? 1 : bet.amount %>
              <% else %>
                  <%= select_tag("games[#{game.id}][bet]", options_for_select([['$1.00', 1], ['$4.00', 4]], bet.nil? ? 1 : bet.amount), class: 'bet_option') %>
              <% end %>
              <span class='score'>
                <%= (bet.present? and bet.correct) ? 'W' : 'L' if game.final unless game.winner.nil? %>
                <%= 'P' if game.final and game.winner.nil? %>
              </span>
            </td>
            <td class="spacer"><%= hidden_field_tag 'current_week', game.week %></td>
          </tr>


          <tr>
            <td class="team_icons"><%= image_tag "icons/#{game.home_team.mascot.downcase}.jpg", alt:"#{game.home_team.id}" %></td>
            <td class="team_name"><%= "@#{game.home_team.location} #{game.home_team.mascot}" %></td>
            <td class="score"><%= game.home_score %></td>
            <td class="spread"><%= game.spread %></td>

            <!-- If no bet or user didn't pick home team, checked is false -->
            <% checked = bet.nil? || bet.pick_team != game.home_team ? false : true %>
            <td class="winner">
              <% if closed %>
                  <%= radio_button_tag("games[#{game.id}][winner]", "#{game.home_team.id}", checked = checked, disabled: closed) %>
                  <%= hidden_field_tag "games[#{game.id}][winner]", "#{game.home_team.id}" if checked %>
                  <%= hidden_field_tag "games[#{game.id}][closed]", true %>
              <% else %>
                  <%= radio_button_tag("games[#{game.id}][winner]", "#{game.home_team.id}", checked = checked, disabled: closed) %>
              <% end %>
            </td>


            <td class="bet"></td>
            <td class="spacer"></td>
          </tr>

        </table>
    <% end %>
    <div id="bet_submit">
    <%= image_submit_tag("bet_logo.png", id: "bet_button")  %>
    </div>
    <% end %>
<% end %>



