<!DOCTYPE html>
<html>
<head>
  <title>Mangus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="header">
    <div id="banner"></div>
    <div id="title"><%= image_tag "title.png" %></div>
  </div>
  <div id="content">
    <div id="sidebar"><%= render_cell :standings, :display %></div>
    <div id="main"><%= yield %></div>
  </div>
</div>
<div id="footer"></div>


</body>
</html>

