<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Mangus" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>


<div id="header" class="row">

  <div class="row">
    <div class="small-12 medium-offset-6">
      <div id="notices">
        <% if flash[:notice] %>
          <% notice = flash[:notice] %>
          <div id="notice">
            &nbsp;<%= notice %>
          </div>
        <% elsif flash[:error] %>
          <% alert = flash[:error] %>
          <div id="alert">
            &nbsp;<%= alert %>
          </div>
        <% else %>
          <div id="notice"></div>
          <div id="alert"></div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div id='signed-in-links' class="small-12 medium-6 columns">
      <% if user_signed_in? %>
        <div class="login small-4 columns text-center"><%= link_to('gameday', root_path) %></div>
        <div class="login small-4 columns text-center"><%= link_to('edit', edit_user_registration_path) %></div>
        <div class="login small-4 columns text-center"><%= link_to('sign off', destroy_user_session_path, :method => :delete) %></div>
      <% end %></div>
  </div>

</div>

<!-- TITLE and WEEK LINKS -->
<div class="row">
  <% if user_signed_in? %>
    <div class="small-12 medium-2 large-4  columns margin-large-top">
      <% user = current_user %>
      <% image_url = user.avatar ? user.avatar_url.to_s : User.find_by_email('nfluser@admin.com').avatar_url.to_s %>
      <div id="badge"><%= image_tag image_url %> <span class="top"><%= user.name %></span></div>
      <p class="red">* still working on the server migration, so avatars are not being stored. my apologies.
        I'll let you know when it's fixed.</p>
    </div>
    <% if current_user.active %>
      <% if current_page?('/') %>
        <div class="small-12 medium-10 large-8 columns">
          <div class="margin-large-top"><%= image_tag "title.png" %></div>
          <% week = Game.where('start_date > ?', Game.last_season_end).pluck(:week).sort.uniq.last %>
          <div id="week_menu"><span class="bold">Week:</span>
            <% while week > 0
                 if week == 21
                   week -= 1
                   next
                 end
                 this_week = @games.first.nil? ? 21 : @games.first.week
                 case week
                   when 22
                     label = 'Superbowl'
                   when 20
                     label = 'Conf Championship'
                   when 19
                     label = 'Divisional'
                   when 18
                     label = 'Wild Card'
                   else
                     label = week
                 end
                 week_class = (this_week == week) ? 'class=selected_link' : '' %>
              <a <%= week_class %> href="?week=<%= week %>"><%= label %></a>
              <% week -= 1 %>|
            <% end %>
          </div>
      <% end %>
      </div>
    <% else %>
      <div class="small-12 margin-large-top">
        <%= image_tag "title.png" %>
      </div>
    <% end %>
    </div>
  <% end %>
  <!-- GAMES -->
  <div class="row">
    <% if current_page?('/') %>
      <div class="large-8 large-push-4 medium-12 columns">
        <%= yield %>
      </div>
      <div class="large-4 large-pull-8 medium-12 columns">
        <%= render_cell :standings, :display %>
      </div>
    <% else %>
      <div class="small-pull-12 columns">
        <%= yield %>
      </div>
    <% end %>
  </div>
  <div id="footer"></div>


  <br/>
  <br/>
  </body>
</html>
