<!DOCTYPE html>
<html>
<head>
  <title>Mangus</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="notices">
    <% if flash[:error] or flash[:notice] or flash[:alert] %>
        <% notice = flash[:notice] if flash[:notice] %>
        <% notice = flash[:alert] if flash[:alert] %>
        <% notice = flash[:error] if flash[:error] %>
        <div id="notice"><%= notice %></div>
    <% else %>
        <div id="notice"></div>
    <% end %>
  </div>

  <div id="banner">
    <% if user_signed_in? %>
        <div id="login"><%=link_to('gameday', root_path) %> &nbsp; &nbsp;<%= link_to('edit', edit_user_registration_path) %> &nbsp; &nbsp;<%= link_to('sign off', destroy_user_session_path, :method => :delete) %></div>
    <% end %>
  </div>
</div>
<div id="content">

  <div id="sidebar"><%= render_cell :standings, :display %></div>
  <span id="week_label" class='hide_on_login'>WEEK <%= Game.current_week %></span>

  <div id="main">

    <div id="title"><%= image_tag "title.png" %></div>

    <%= yield %>
  </div>
  <div id="footer"></div>
</div>

</body>
</html>

